In [1]:
print("Hello Esther")

Hello Esther

In [2]:
name = input("enter your age")
print(input)

enter your age 24

<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001639FAC10D0>>

In [3]:
a = "python"
b = 40.7
x = 4

print(a)
print(b)
print(x)

python
40.7
4

In [4]:
_ = "Stanley"
print(_)

Stanley

In [5]:
Name_of_student = "Jane"
print(Name_of_student)

Jane

In [7]:
a,b,c = "bed",12,"zero"
print(a)
print(b)

bed
12

In [8]:
num1 = 20
num2 = 40
total = num1 + num2
print(total)

60

In [11]:
number_1 = 15
number_2 = 46
difference = number_2 - number_1 
print(difference)

31

In [13]:
item1 = "pen"
item2 = "bag"
item3 = "pencil"
print(item1 + item2 + item3)
print(item1,item2,item3)

penbagpencil
pen bag pencil

In [14]:
school = "Nnamdi Azikiwe UNiversity"
print(school)
print(type(school))

Nnamdi Azikiwe UNiversity
<class 'str'>

In [15]:
Age = 40.7
height = 17
print(Age)
print(type(Age))
print(height)
print(type(height))

40.7
<class 'float'>
17
<class 'int'>

In [16]:
numbers = [1,2,3,5,6,7,8,9]
names = ["olu","mercy","JJ"]
print(numbers)
print(type(numbers))
print(names)
print(type(names))

[1, 2, 3, 5, 6, 7, 8, 9]
<class 'list'>
['olu', 'mercy', 'JJ']
<class 'list'>

In [17]:
Foodstuff = ("fish","seasoning cube")
print(Foodstuff)
print(type(Foodstuff))

('fish', 'seasoning cube')
<class 'tuple'>

In [18]:
r = range(1,20)
print(r)
print(type(r))

range(1, 20)
<class 'range'>

In [20]:
for i in range (1,20):
 print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
set = {2,1,1, 4, 6, 7,"Esther","Chiamaka","Esther"}
print(set)

{1, 2, 'Chiamaka', 4, 6, 7, 'Esther'}

In [23]:
d = {"name":"esther","age":16}
print(d)
print(type(d))

{'name': 'esther', 'age': 16}
<class 'dict'>

In [24]:
2==2
print(2==2)

True

In [25]:
3!=4
print(3!=4)

True

In [26]:
3>2
print(3>2)

True

In [27]:
25<21
print(25<21)

False